<div class="newcv-page">

    <div id="photo-container">
      <img id="add-photo" src="../../../assets/add-photo (1).png">
      <p>Fotoğraf ekle</p>
    </div>
    <div class="newcv-container">
      <!-- <div id="logo">logo here</div> -->
    <div class="input-divs">
      <input placeholder="İsim" />
      <input placeholder="Soyisim" />
    </div>
    <div class="input-divs">
      <input placeholder="Yaş" />
      <input type="date" placeholder="Doğum Tarihi" />
    </div>
    <div class="input-divs">
      <input placeholder="Doğum Yeri" />
      <input placeholder="Ülke" />
    </div>

    <textarea id="talent-section" placeholder="Yetenek ve yetkinliklerinizden bahsediniz" ></textarea>
    <textarea type="text" id="summary-section" placeholder="Kendinizden kısaca bahsediniz"></textarea>
    <button id="login-button">KAYDET</button>
    </div>
    

</div>
