<div class="register-page">
  <div class="register-container">
    <div >
      <img id="logo" src="../../../assets/files.png" />
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-container">
      <!-- <input type="email" placeholder="Lütfen email adresinizi yazın" /> -->
      <div>
        <input
          type="text"
          (ngClass)="
            ({
              isValid: submitted && registerForm.controls['email'].errors
            })
          "
          formControlName="email"
          placeholder="email"
        />
        <div  class="error-messages" 
          *ngIf="submitted && registerForm.controls['email'].errors"
        >
          <div
            *ngIf="
              submitted && registerForm.controls['email'].errors['required']
            "
          >
            Email is required
          </div>
          <div
            *ngIf="submitted && registerForm.controls['email'].errors['email']"
          >
            Please write a valid email
          </div>
        </div>
      </div>


      <!-- <input type="password" placeholder="Lütfen şifrenizi girin" /> -->
      <div >
        <input
          type="password"
          (ngClass)="
            ({
              isValid:
                submitted && registerForm.controls['password'].errors
            })
          "
          formControlName="password"
          placeholder="password"
        />
        <div *ngIf="submitted && registerForm.controls['password'].errors"  class="error-messages">
          <div *ngIf="submitted && registerForm.controls['password'].errors['required']" >Password is required</div>
          <div *ngIf="submitted && registerForm.controls['password'].errors['minLength']" >Minimum password length must be 6</div>
        </div>
      </div>
      <button id="login-button">KAYIT OL</button>
    </form>
    <p>
      Zaten bir hesabın var mı?
      <span [routerLink]="['/login']" routerLinkActive="router-link-active"
        >Giriş yap</span
      >
    </p>
  </div>
</div>
