<div class="profile-page">
  <div class="profile-container">
    
<button id="logout-button">LOGOUT</button>
    <h3>KAYITLI CV'LERİM</h3>
    <div class="search-bar">
        <input type="text" placeholder="CV Ara..." />
        <img id="search-icon" src="../../../assets/search (1).png" />
      </div>
    
    <div id="cv-container">
      <img id="addcv-icon" src="../../../assets/addcv.png" />
      <div class="cvkayit"></div>
      <div class="cvkayit"></div>
      <div class="cvkayit"></div>
      <div class="cvkayit"></div>
      <div class="cvkayit"></div>
      <div class="cvkayit"></div>
    </div>
  </div>
</div>
