<div class="profile-page">
  <div class="profile-container">
    <button (click)="logOut()" id="logout-button">LOGOUT</button>
    <h3>KAYITLI CV'LERİM</h3>
    <div class="search-bar">
      <input
        type="text"
        placeholder="CV Ara..."
        [(ngModel)]="searchText"
        (input)="filterCvs()"
      />
      <img id="search-icon" src="../../../assets/search (1).png" />
    </div>

    <div id="cv-container">
      <img
        [routerLink]="['/addcv']"
        routerLinkActive="router-link-active"
        id="addcv-icon"
        src="../../../assets/addcv.png"
      />
      <div class="cvkayit" *ngFor="let cv of user?.cvList; let i = index" >
        <div class="cvkayit">
          <div id="cv-title">{{cv.title}}</div>
          <img id="no-photo" src="../../../assets/avatar (1).png" />
          <div class="cv-detail-btns">
            <button id="cv-duzenle-btn">Düzenle</button>
            <button id="cv-sil-btn" (click)="deleteCv(i)">Sil</button>
          </div>
        </div>
      </div>

      <!-- <div class="cvkayit">
        <div id="cv-title">Title</div>
        <img id="no-photo" src="../../../assets/avatar (1).png" />
        <div class="cv-detail-btns">
          <button id="cv-duzenle-btn">Düzenle</button>
          <button id="cv-sil-btn">Sil</button>
        </div>
      </div> -->

    </div>
  </div>
</div>
