.login-page {
  background-image: linear-gradient(
    to left top,
    rgb(134, 239, 172),
    rgb(192, 132, 252)
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
  font-family: "Righteous";
  letter-spacing: 2px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 3em;
}

input {
  padding: 1rem;
  width: 30em;
  border-radius: 0.75em;
  font-size: large;
}

button {
  background: #ff8500;
  color: #ffffff;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  font-size: 1.6rem;
  font-family: "Righteous";
  border-color: transparent;
}

button:hover {
  background: #fca016;
  cursor: pointer;
}

span {
  text-decoration: underline;
}

span:hover {
  color: blue;
  cursor: pointer;
}

@media (max-width: 640px) {
    .login-container{
        letter-spacing: 1px;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        margin: 1em;
      }
      
      input{
        width: 60vw;
        font-size: small;
      }
     
      button {
        background: #ff8500;
        color: #ffffff;
        padding: 0.50rem;
        margin-bottom: 1rem;
        border-radius: 0.40rem;
        font-size: 1rem;
        font-family: "Righteous";
        border-color: transparent;
      }
     
      p{
        font-size: 0.6em;
     }
}