/* You can add global styles to this file, and also import other style files */
/* styles.css veya istediğiniz stil dosyasında */

@import "../node_modules/alertifyjs/build/css/alertify.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/alertifyjs//build/css/themes/default.min.css";

body, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: "Fredoka One";
    src: url("./app/fonts/FredokaOne-Regular.ttf");
  }

  @font-face {
    font-family: "Righteous";
    src: url("./app/fonts/Righteous-Regular.ttf");
  }